/*--------------------------------------- 1200px--*/
@media (max-width: 1200px) {
  .container {
    max-width: 85%;
  }
}

/*--------------------------------------- 992px--*/
@media (max-width: 992px) {
  .item-gallery {
    flex-basis: 50%;
  }
  .partners-wrap {
    flex-wrap: wrap;
  }
  .partners-item {
    flex-basis: 33%;
  }
}

/*--------------------------------------- 768px--*/
@media (min-width: 768px) {
  .form-wrap {
    width: 600px;
  }
  #area-item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  h2 {
    margin-top: 20px;
  }
  #header-section {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 10px;
  }
  .main-slider {
    padding: 60px 0;
  }
  .main-slider p {
    width: 70%;
  }
  .about-wrap {
    flex-wrap: wrap;
  }
  .about-item {
    flex-basis: 50%;
    margin: 10px 0;
  }
  .info-box {
    flex-direction: column;
  }
  input.form-control {
    width: 100%;
    margin-bottom: 5px;
  }
  .button-box {
    justify-content: center;
  }
  button[type="submit"] {
    margin: 10px 0 0 0px;
  }
}

/*--------------------------------------- 640px--*/
@media (max-width: 640px) {
  .navigation-wrap {
    display: none;
    flex-direction: column;
    text-align: center;
  }
  #main-nav:hover .navigation-wrap{
    display: flex;
    position: absolute;
    left: 0px;
    right: 0px;
    background-color:#fff;
    padding: 10px 0px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .7);
  }
  .header-wrap {
    margin: 0;
    top: 0;
  }
  #main-nav {
    text-align: center;
  }
  #main-nav > i {
    display: inline-block;
    cursor: pointer;
  }
  .main-slider {
    margin: 0;
    width: 100%;
  }
  .about-item {
    flex-basis: 100%;
    margin: 10px 0;
  }
  .item-gallery {
    flex-basis: 100%;
  }
  .special-wrap {
    flex-wrap: wrap;
  }
  .item-special:nth-of-type(1) {
    margin: 0 0 10px 0;
  }
}

/*--------------------------------------- 480px--*/
@media (max-width: 480px) {
  .main-slider p {
    width: 100%;
  }
  .about-description p {
    font-size: .9rem;
    line-height: 1.4;
  }
  #contacts {
    flex-wrap: wrap;
    justify-content: center;
  }
  #contacts > div {
    padding: 0 10px;
  }
}