
/*----------------------------------------HEADER---------*/

#contacts {
  background-color: teal;
  padding: 10px;
  display: flex;
  justify-content: center;
}
#header-section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navigation-wrap {
  display: flex;
}

.item-navigation {
  margin-left: 10px;
}
/*--------------------------------------- END HEADER-----*/

/*----------------------------------------MAIN---------*/

#main-slider {
  background-image: url("../images/salon.jpg");
 padding: 50px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
/*--------------------------------------- END MAIN-----*/

/*----------------------------------------FOOTER---------*/
/*--------------------------------------- END FOOTER-----*/