html {
  font-family: sans-serif;
  overflow-y: scroll;
  scrollbar-color: #4cb3f2 #d3d3d3;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

body::-webkit-scrollbar {
  width: 10px;
    background-color: #d3d3d3;
}

body::-webkit-scrollbar-thumb {
  background-color: #4cb3f2;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #f5f5f5;
}

main {
  margin-top: 75px;
}

h2 {
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
}

/*---------------------------------------- HEADER---------*/
/*-------------------------------------- Contacts---------*/
.header-wrap {
  position: fixed;
  z-index: 10;
  width: 100%;
  margin-top: -75px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .7);
}

#contacts {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  color: #e5e5e5;
  background-color: #008080;
}

#contacts span {
  font-size: 13px;
  font-weight: bold;
  padding: 0 5px;
}

#contacts i,
#contacts span:nth-of-type(2) {
  color: #4cb3f2;
  transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#contacts span:hover, #contacts i:hover {
  color: #e5e5e5;
  text-shadow: 2px 2px 4px rgba(206, 206, 206, .7);
}

/*-------------------------------------- Navigation---------*/
.navigation-box {
  background-color: #fff;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

#header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-family: 'Lilita One';
  font-size: 1.3rem;
  color: #444;
}

i.fa {
  font-size: 17px;
}

.fa-car {
  color: #4cb3f2;
}

#main-nav > i {
  display: none;
}

.navigation-wrap {
  display: flex;
}

li.item-navigation {
  margin: 5px 0;
}

li {
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: #008080;
  transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

li > a {
  padding: 10px;
  border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}

li a:hover {
  background-color: #008080;
  color: #fff;
}

/*--------------------------------------- END HEADER-----*/

/*----------------------------------------MAIN---------*/
/*--------------------------------------- Main slider-----*/
.main-slider {
  background: center / cover no-repeat url("../images/slider_1.png");
  margin-top: 75px;
  padding: 100px 0;
}

.main-slider h2,
#about h2 {
  text-align: left;
}

.main-slider p {
  width: 45%;
  margin: 20px 0;
}

.main-slider p:nth-of-type(2) {
  margin-bottom: 40px;
}

.main-slider a {
  padding: 10px;
  color: #4cb3f2;
  border: 2px solid #4cb3f2;
  border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}

.main-slider a:hover {
  color: #fff;
  background-color: #4cb3f2;
}

/*--------------------------------------- What we do-----*/
.about-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about-item {
  text-align: center;
  flex-basis: 20%;
}

.about-item p {
  font-size: .75rem;
}

/*--------------------------------------- About us-----*/
#about {
  display: flex;
  flex-direction: column;
  color: #ccc;
  background: center / cover no-repeat url("../images/aboutt.png") fixed;
}

#about h2 {
  padding: 0 30px;
}

#about p {
  padding: 10px 50px 10px 30px;
}

#about p:nth-of-type(3) {
  padding-bottom: 30px;
}

span.logo {
  color: #4cb3f2;
}

/*--------------------------------------- Gallery-----*/
.gallery-wrap {
  display: flex;
  flex-wrap: wrap;
}

.item-gallery {
  flex-basis: 25%;
  border: 1px dotted #fff;
  box-sizing: border-box;
}

a > img {
  width: 100%;
  transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

a > img:hover {
  opacity: .9;
}

/*--------------------------------------- Special-----*/
.special-wrap {
  display: flex;
  justify-content: center;
}

.item-special img {
  width: 100%;
  border: 2px dotted #008080;
}

.item-special:nth-of-type(1) {
  margin-right: 10px;
}

/*--------------------------------------- Our partners-----*/
#partners {
  background-color: #008080;
  padding: 10px 0 40px;
  margin-top: 20px;
}

.partners-wrap {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.partners-wrap div > {
  padding-bottom: 20px;
}

/*----------------------------------------Contact us-----*/
#contact p {
  text-align: center;
}

.form-wrap {
  max-width: 800px;
  margin: 0 auto;
}

.info-box {
  display: flex;
  justify-content: center;
}

.info-box > div {
  flex-grow: 1;
  padding: 0px 10px;
}

.area-wrap {
  padding: 0px 10px;
}

input.form-control {
	border: none;
  border-bottom: 2px solid #4cb3f2;
  width: 100%;
}

input.form-control:focus {
	background-color: #76cdd7;
	color: #fff;
	border-radius: .1rem;
	  -webkit-border-radius: .1rem;
	  -moz-border-radius: .1rem;
	  -ms-border-radius: .1rem;
	  -o-border-radius: .1rem;
}

input.form-control:focus::placeholder {
	color: transparent;
}

#area-item {
  max-width: 800px;
  height: 70px;
  margin-top: 10px;
  border: 2px solid #4cb3f2;
  border-radius: .1rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
  resize: none;
}

textarea {
  font-family: "Roboto";
}

textarea::placeholder {
  font-family: "Red Hat Display";
}

.button-box {
  display: flex;
  justify-content: center;
}

button[type=submit] {
  margin: 10px 0 0 0px;
  padding: 5px 35px;
  color: #4cb3f2;
  font-weight: unset;
  font-size: 18px;
  background-color: #fff;
  border: 2px solid #4cb3f2;
  border-radius: .1rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

button[type=submit]:hover {
	background-color: #4cb3f2;
    color: #fff;
}
/*--------------------------------------- END MAIN-----*/

/*--------------------------------------- FOOTER-----*/
footer {
  margin-top: 20px;
  padding: 20px;
  color: #e5e5e5;
  background-color: #333;
  text-align: center;
}
/*--------------------------------------- END FOOTER-----*/